# Created by .ignore support plugin (hsz.mobi)
# Ignore everything in this directory
*
# Except this file
!.gitignore
!/app/data/static/informations/monitoraggio-e-allarme_2019-10-08_con-allegati_rid.pdf
